[MASTER]
persistent=no

[MESSAGES]

# Enforce minimal documentation. Probably nice to fix.
#   C0114: missing-module-docstring
#   C0115: missing-class-docstring
#   C0116: missing-function-docstring

# Formatting nitpicks
#   C0301: line-too-long
#   C0302: too-many-lines

# These feel a bit pedantic
#   R0801: duplicate-code
#   R0902: too-many-instance-attributes
#   R0903: too-few-public-methods
#   R0904: too-many-public-methods
#   R0913: too-many-arguments
#   R0914: too-many-locals
#   R0915: too-many-statements
#   C0103: invalid-name
#   C0104: disallowed-name

disable=C0103,C0104,C0301,C0302,C0114,C0115,C0116,C0301,R0801,R0902,R0903,R0904,R0913,R0914,R0915

[MISCELLANEOUS]

# List of note tags that will trigger W0511.
# default: FIXME,XXX,TODO
notes=DONTCHECKIN
