[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
pyjwt = "*"
requests = "*"
lightspark-crypto-python = "*"
lightspark = "*"

[dev-packages]
black = "*"
flask = "<2.3"
importlib_metadata = "*"
isort = "==5.11.4"
pylint = "*"
pyre-check = "*"
pytest = "*"
typed-ast = "*"
unidiff = "*"
