[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
lightspark-crypto-python = "*"
pyjwt = "*"
requests = "*"
zstandard = "*"

[dev-packages]
black = "<24"
flask = "<2.3"
importlib_metadata = "*"
isort = "==5.11.4"
libcst = "<1.2"  # Stopped supporting Python 3.8
pylint = "*"
pyre-check = "*"
pytest = "*"
typed-ast = "*"
unidiff = "*"
